<!DOCTYPE html>
<html>
    <head>
        <title>Transport Data (GET)</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
        <style>
            body {
                background-color: #f2f2f2;
                margin: 0;
                padding: 0;
            }
            h4 {
                margin: auto 0;
                text-align: center;
            }
        </style>
    </head>
    <body>

        <div class="container mt-5">

            <div class="row">
                <div class="col-4">
                    <div class="card">
                        <div class="card-body">
                            <h4>{{ name_get }}</h4>
                        </div>
                    </div>
                </div>

                <div class="col-4"></div>

                <div class="col-4">
                    <div class="card">
                        <div class="card-body">
                            <h4>{{ date_get }}</h4>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </body>
</html>